<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589563291821-2i5vnt3tu59to9apl31m35pajlkosinn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589563291821-2i5vnt3tu59to9apl31m35pajlkosinn</string>
	<key>API_KEY</key>
	<string>AIzaSyDS-38u-qK_dGj8nZffqZ4HyRGSaf8GOxw</string>
	<key>GCM_SENDER_ID</key>
	<string>589563291821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kamelpay</string>
	<key>PROJECT_ID</key>
	<string>kamelpay-5eac1</string>
	<key>STORAGE_BUCKET</key>
	<string>kamelpay-5eac1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589563291821:ios:cfff73fd10abd94347be24</string>
</dict>
</plist>